images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

pycocotools/__init__.pyc
pycocotools/_mask.c
pycocotools/_mask.so
pycocotools/coco.pyc
pycocotools/cocoeval.pyc
pycocotools/mask.pyc
